
@media  (min-width: 651px) {

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.product {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 10px;
  margin-right: 10px;

}

.product input[type=number] {
  width: 150px;
  height: 35px
}

.calculations {

  grid-area: 1 / 2 / 2 / 3;
  font-size: 20px;
  padding: "10px";
  margin-left: 10px;
  margin-right: 10px;
  background: rgba(181, 218, 249, 0.934);
  border: solid black;
  border-radius: 10px;

}

.calculations input {
  background-color: rgb(0, 126, 128);
  border: solid white;
color: whitesmoke;

}
}

@media (min-width:0px) and (max-width: 650px) {

  .parent {  display: flex;
      justify-content: center;
      align-items: center;
          flex-direction: column;

    }
    

    .product {
      margin-left: 10px;
      margin-right: 10px;
    
    }
    

    
    .calculations {
    
      font-size: 20px;
      padding: "10px";
      margin-left: 10px;
      margin-right: 10px;
      background: rgba(18, 56, 87, 0.934);
      border: solid black;
      border-radius: 10px;
    
    }
    
    .calculations input {
      background-color: green;
      border: solid white;
    
    
    }

      
    }
   
